Options +Indexes
DefaultType text/html
AddType 'text/plain; charset=UTF-8' .txt
AddType 'text/html; charset=UTF-8' .html
AddType 'text/css; charset=UTF-8' .css
AddType 'text/javascript; charset=UTF-8' .js
AddType 'application/atom+xml' .atom
